// Header styling

#hero {
width:100%;
height: 400px;
text-align: center;
}

#hero img {
	width: 100%;
	height: 100%;
}

#hero--title {
	width: 100%;
	text-align: center;
	font-size: 100px;
	position: relative;
	bottom: 80%;
	color:white;
}

#hero--subtitle {
	width: 100%;
	text-align: center;
	font-size: 80px;
	position: relative;
	bottom: 80%;
	color:white;
}

#hero--cta {
	position: relative;
	bottom: 70%;
}

#logo {
	width: 100%;
	display:flex;
	margin: 10px 0px;
	img {
		margin:auto;
	}	
}

// MENU 
#header-menu {
	width: 100%;
	display: inline-block;
	text-align: center;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	padding: 4px 0px;
}

#header-menu ul {
	font-size: 130%;
}
#header-menu li {
	display:inline;
	margin: 0px 20px;
}

#header-menu a {
	color: $darkgreen;	text-decoration: none;
}